@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'roboto-bold';
    src: url('../public/assets/fonts/Roboto-Bold.ttf') format('truetype'),
}

@font-face {
    font-family: 'roboto-regular';
    src: url('../public/assets/fonts/Roboto-Regular.ttf') format('truetype'),
}

.my-font-bold {
    font-family: 'roboto-bold';
}

.my-font {
    font-family: 'roboto-regular';
}

input::placeholder{
    font-size: 18px;
    font-family: 800;
}

input {
    font-size: 18px !important;
}

button {
    transition:all .6s;
}

button:hover {
    background-image: linear-gradient(to right, #ff527a, #ff6a3a);
    box-shadow: 0px 20px 20px .1px #ff527a3e;
}